name: "CI"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  clean-code-stage:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max_old_space_size=8192"

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/composite_actions/initial_setup

      - name: audit
        run: yarn npm audit
        continue-on-error: true

      - name: Build
        run: yarn build

      - name: lint
        run: yarn lint

      - name: Test
        run: yarn test


